
body{
	
	font-family: 'Lato', sans-serif;
	min-height: 100%;
	margin: 0;
}

main{
	overflow: hidden;
	max-width: 1060px;
	min-width: 360px;
	min-height: 565px;
	margin-left: auto;
	margin-right: auto;

}

/* Navigation bar and header*/
header{
	width:100%;
	top:0;
	left: 0;
	margin-bottom: 10%;
	height:15%;
	position: fixed;
	z-index: 10;
	background-color: #eff0f2;
	-webkit-box-shadow: 0px 10px 11px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 10px 11px 0px rgba(0,0,0,0.35);
	box-shadow: 0px 10px 11px 0px rgba(0,0,0,0.35);
}
.active{
	border: 3px solid rgba(134,219,219,0.6);
	border-radius: 10%;
}

#space{
	height: 120px;
}
.wrapper {
  min-height: 100%;
  margin-bottom: -100px;
  }
  .push {
  height: 100px;
}
#logo{
	height:95%;
	margin-left: 1%;
	float: left;
}
nav{
	float: right;
}
#nav{
	
	list-style-type: none;
	overflow: hidden;
	margin:0;
	padding:0;

}

#nav li {
	float: left;
	margin-top: 2%;
}
#nav li a {
	
	display:inline-block; 
	text-align: center;
	margin: 0;
    padding: 14px 16px; 
	text-decoration: none;
	color: black;

}


#nav li a:hover {
	color:#969b9b;
	
}
#log_in{
	background-color:rgba(134,219,219,0.6);
	border-radius: 10%;
	margin-left: 10px;
	padding-left: 5px;
	padding-right: 5px;
	margin-right: 20px;
	padding-bottom: 3px;
	padding-top: 2px;

}

/*page hero */

#hero {
	position: relative;
	width: 100%;
	margin:0;
} 

#background{
	width: 100%;
	margin: 0;
	
}

#text{
	position: absolute;
	bottom: 20%;
	width: 100%;
	margin:0;

}

#text h1 {
	text-align: center;
	margin-bottom: 5%;
	margin-top: 0;
	background-color: rgba(255,255,255,0.6);
	padding-top:  1%;
	padding-bottom: 1%;
	padding-left: 1%;
	padding-right: 1%;
}

#logomain {
	margin-top: 20%;
	margin-bottom:2%;
	width: 30%;
	padding: 0;
	margin-left:33%;
	margin-right: 40%;
}
/*About section*/
/*#content{
	margin-left:41px;
	margin-right: 41px;
	margin-bottom: 44px;
	float: left;
	position: relative;
}*/

#group {
	width: 50%;
	float: left;
	clear: right;
}

h2{
	margin-bottom:2%;
	margin-top: 4%;
	float: left;
	clear: left;
}
p{
	margin-top: 0;
	margin-right: 2%;
	margin-bottom:1%;
	width: 48%;
	float: left;
	clear: left;
}
/* Best book section*/
#books {
	width: 100%;
	padding: 0;
	margin: 0;
	margin-bottom: 40px;
	float: left;
}

#books li {
	width: 15%;
	display: inline-block;
	float: left;
	margin-right:5%;
	margin-bottom: 40px;
	height: 230px;


}

.image {
	width: 100%;

	float: left;
	clear: left;
	
}

.image img {
	width:100%;
	height: 230px;
}


/*footer*/
footer{
	overflow: hidden;
	background-color: rgba(134,219,219,0.6);
	width: 100%;
	bottom: 0;
	left: 0;
	margin: 0;
	padding-top: : 1%;
}

footer h4{
	float: left;
	margin-top: 2%;
	margin-right: 2%;
	margin-left: 40%;
	margin-bottom: 2%;
}

footer ul {
	list-style-type: none;
	overflow: hidden;
	margin:0;
	padding:0;
}

footer ul li {
	float: left;
	margin-top: 3%;
	margin-left: 2%;
}
footer ul li a img{
	display:inline-block; 
	text-align: center;
	margin: 0; 
}

/*Library page*/

#library{
	width: 100%;
	float: left;
	margin-top: 100px;
	margin-bottom: 0;
}

.mybook{
	width: 100%;
	padding-bottom: 2%;
	float: left;
	margin-bottom: 5%;
	border-bottom:2px dashed rgba(134,219,219,0.6);

}
.cover{
	width: 8%;
	float: left;
	clear: left;

}
.cover img {
	width: 100%;
	float: left;
	clear: left;
}
.author{
	float: left;
	margin-left: 5%;
	width: 25%;
}
.author h3{
	margin-top: 18%;
}
.tittle{
	float: left;
	margin-left: 5%;
	width: 25%;
}

.tittle h3{
	margin-top: 18%;
}

.return{
	width: 25%;
	margin-left: 5%;
	float: left;
}

.return button {
	float: right;
	border-radius: 3px;
	border:none;
	padding: 5%;
	background-color: rgba(134,219,219,0.6);
	margin-top: 15%;

}

.return button:hover {
	border:2px solid #457070 ;
	cursor: pointer;
	cursor: hand;
}

#message{
	text-align: center;
	margin-left: 35%;
	margin-top:16%;
	width: 80%;
	margin-bottom: 0;
	
}
#msg_box{
	border:solid 3px rgba(134,219,219,0.6);
	width: 50%;
	margin-left: 25%;
	margin-top: 50px;
	margin-bottom: 140px;
	height: 250px;
}
/* search page*/

#search{
	width: 100%;
	float: left;
	margin-top: 50px;
	margin-bottom: 4%;
}

#search form {
	float: left;
	width: 100%;
	margin-top: 2%;

}

#search form input {
	margin-right: 1%;
	border-radius: 2px;
}
/*contact page*/

#contact{
	width: 100%;
	margin-top: 50px;
}
#contact h2 {
	float: left;
}
#contact p {
	width: 100%;
	float: left;
}
#contact form {
	float: left;
	width: 100%;
}
#contact form input{
	
}

#message{
	width: 30%;
	padding-bottom: 200px;
	box-sizing: border-box;
	 resize: none;
}

#prompt{
	width: 99%;
	text-align: center;
	border:3px solid rgba(134,219,219,0.6);
	margin-bottom: 40px;
	float: left;
}
#prompt h2{
	text-align: center;
	width: 100%;
	margin:0;
	padding-top: 20px;
	padding-bottom: 20px;
}
/*login page*/


#login_content{
	background: white;
	height: 250px;
	border:3px solid rgba(134,219,219,0.6) ;
	padding:20px;
	margin-top: 150px;
	margin-bottom: 120px;
	width: 52%;
	margin-left: 22%;
} 
#login_content h3{
	text-align: center;
}

#login_content form{
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}

.input_log{
	float: left;
	width: 100%;
	height: 40px;
	margin-bottom: 20px;
	padding-left: 10px;

}

#login_bt {
	width: 100%;
	height: 45px;
	border-radius: 3px;
	background-color: rgba(134,219,219,0.6);
	border-style: none;
	cursor: pointer;
	cursor: hand;
	font-style: bold;
	
}

#login_bt:hover{
	border:2px solid #457070 ;
}

#promt_login {
	width: 80%;
	margin-left: 30%;
	margin-top: -100px;
	text-align: center;
	margin-bottom: 0px;
	float: left;
	font-size: 22px;
}

/* Admin page */

#upload{
	overflow: hidden;
	background: white;
	height: 280px;
	border:3px solid rgba(134,219,219,0.6) ;
	padding:20px;
	margin-top: 50px;
	margin-bottom: 50px;
	width: 52%;
	margin-left: 22%;
}
#upload h2 {
	float: left;
	margin-top: 40px;
	margin-bottom: 30px;
}

#upload form {
	float: left;
	overflow: hidden;
	width: 100%;
	clear: left;
}

#input_upl{
	float: left;
	width: 100%;
	clear: left;
	margin-bottom: 30px;
}

#button_upl{
	width: 100%;
	height: 45px;
	border-radius: 3px;
	background-color: rgba(134,219,219,0.6);
	border-style: none;
	cursor: pointer;
	cursor: hand;
	font-style: bold;
}

#button_upl:hover{
	border:2px solid #457070 ;
}

.info_upload{
	width: 80%;
	margin-left: 30%;
	margin-top: -100;
	text-align: center;
	margin-bottom: 0px;
	float: left;
	font-size: 22px;
}

#add_user{
	width: 100%;
	float: left;
	margin-bottom: 50px;
}
#add_user form{
	width: 100%;
	overflow: hidden;
}

#add_user form select{
	width: 20%;
	float: left;
	padding: 1%;
	margin-bottom: 20px;
	padding: 
}

.add_u{
	width: 45%;
	height: 40px;
	padding-left: 40px;
	float: left;
	margin-bottom: 20px;
	margin-right: 55%;
}


#add_bt{
	float: left;
	clear: left;
	width: 20%;
	height: 45px;
	border-radius: 3px;
	background-color: rgba(134,219,219,0.6);
	border-style: none;
	cursor: pointer;
	cursor: hand;
	font-style: bold;
}

.user_id{
	float: left;
	margin-left: 5%;
	width: 15%;
}
					
.user_name{
	float: left;
	margin-left: 5%;
	width: 15%;
}
.user_status{
	float: left;
	margin-left: 5%;
	width: 15%;
}
.delete{
	width: 25%;
	margin-left: 5%;
	float: left;
}



.delete button {
	float: right;
	border-radius: 3px;
	border:none;
	padding: 5%;
	background-color: rgba(134,219,219,0.6);
	margin-top: 10%;

}

.delete button:hover {
	border:2px solid #457070 ;
	cursor: pointer;
	cursor: hand;
}

#admin_nav {
	width: 100%;
	overflow: hidden;
	margin-bottom: 0;
	margin-top: 50px;
	/*border-bottom: 3px solid rgba(134,219,219,0.6);*/
}


.admin_nav{
	width: 99%;
	padding: 10%;
	float: left;
	border-radius: 3px;
	border:none;
	background-color: rgba(134,219,219,0.6);
	font-size: 18px;
}
#admin_nav a {
	text-decoration: none;
	color: black;
	margin-right: 40px;
	width: 15%;
	float: left;
	margin-bottom: 20px;
	
}

.admin_nav:nth-child(1){
	margin-left: 150px;
}

.admin_nav:hover {
	border:2px solid #457070 ;
	cursor: pointer;
	cursor: hand;
}
